/*** COMMON ***/

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

/* immagini */
img {
  width: 100%;
  display: block;
}

/* colori */
:root {
  --primary-color: white;
  --secondary-color: #a3a3a3;
  --accent-color: #8dcf2c;
}

a {
  text-decoration: none;
  color: inherit;
}

/**** struttura ****/
.app-wrapper {
  width: 100%;
  height: 100vh;
}

/***** MAIN *****/
main {
  width: 100%;
  height: calc(100vh - 80px);
  display: flex;
}

/* elemento overlay effettua l'upgrade */
.btn-upgrade {
  width: calc(100% - 200px);
  height: 80px;
  background-color: rgba(0, 0, 0, 0.3);
  color: var(--primary-color);
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
}
/* finto tasto vero e proprio effettua l'upgrade */
.btn-upgrade a {
  padding: 1rem 2rem;
  border-radius: 2rem;
  border: 1px solid var(--primary-color);
  align-self: center;
  margin-right: 30px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.8rem;
}
/* effetto hover si ingrandisce */
.btn-upgrade a:hover {
  transform: scale(1.1);
}

/***** SIDEBAR *****/
.sidebar {
  height: 100%;
  width: 200px;
  color: var(--secondary-color);
  overflow-y: hidden;
  background-color: #000000;
}
/* padding laterale generale della sidebar */
.sidebar-container {
  height: 100%;
  padding-left: 20px;
  padding-right: 20px;
}
/* effetto hover diventa bianco */
.sidebar a:hover {
  color: var(--primary-color);
}

.sidebar-flex {
  height: 100%;
  display: flex;
  flex-direction: column;
}
/* elemento sidebar con logo */
.sidebar-top {
  height: 80px;
  color: var(--primary-color);
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.logo {
  height: 50%;
}
.logo img {
  height: 100%;
}
/* logo secondario per schermi piccoli */
.logo img:nth-child(2) {
  display: none;
}

/* elementi sidebar di navigazione */
.sidebar-nav-box ul {
  list-style-type: none;
}
.sidebar-nav-box li {
  padding-bottom: 5px;
}

.svg-icon {
  height: 2rem;
  width: 2rem;
  vertical-align: middle;
  display: inline;
}

/* accento verticale verde */
.sidebar-nav-box ul:first-child {
  position: relative;
}
.vertical-accent {
  height: calc(100% / 3);
  width: 5px;
  border: 1px solid var(--accent-color);
  position: absolute;
  top: 0;
  left: -20px;
  background-color: var(--accent-color);
}

/* primo elemento sidebar di navigazione bianco */
#home {
  color: var(--primary-color);
}

/* elementi sidebar di playlist */
.sidebar-playlist-box {
  padding-top: 20px;
  overflow-y: auto;
  flex-grow: 1;
}
.sidebar-playlist-box h3 {
  text-transform: uppercase;
  color: var(--primary-color);
}
.sidebar-playlist-box ul {
  list-style-type: none;
}
.sidebar-playlist-box li {
  padding: 6px 0;
}

.playlist-creator i {
  font-size: 3rem;
  vertical-align: middle;
}

/* elementi sidebar download e utente */
.dl-app {
  padding: 5px 0;
  border-bottom: 1px solid var(--secondary-color);
}
.sidebar-user img {
  width: 1rem;
  display: inline-block;
  vertical-align: middle;
}

.user-data {
  color: var(--primary-color);
  padding: 10px 0;
}
.user-data img {
  width: 2rem;
  height: 2rem;
  border-radius: 2rem;
  background-color: var(--secondary-color);
}
.user-name {
  font-weight: bold;
}

/***** area principale *****/
/* tutti i titoli H2 della parte principale */
h2 {
  color: var(--primary-color);
  padding: 20px 0 10px;
}

.main-area {
  width: calc(100% - 200px);
  color: var(--primary-color);
  padding-top: 80px;
  overflow-y: auto;
  background-color: #141922;
  color: var(--secondary-color);
}

/* padding laterale generale dell'area principale */
.section-container {
  padding-left: 20px;
  padding-right: 20px;
}

.main-nav {
  width: 100%;
}
.main-nav ul {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}
.main-nav ul li {
  padding: 0 10px;
  line-height: 2rem;
}
.main-nav a {
  text-transform: uppercase;
  font-size: 0.8rem;
}
/* effetto hover diventa bianco */
.main-nav a:hover {
  color: var(--primary-color);
}

/* sottolineatura verde navigazione main area */
.main-nav ul li:first-child {
  position: relative;
}
.main-nav ul li:first-child hr {
  border: 1px solid var(--accent-color);
  width: 30px;
  position: absolute;
  bottom: 0;
  left: calc(50% - 15px);
}

/* sezione recently played */
.recently-box {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.columns {
  padding: 5px;
  width: calc(100% / 6);
}
.card {
  text-align: center;
  position: relative;
}
.title {
  font-weight: bold;
  color: var(--primary-color);
  padding-top: 12px;
}
.subtitle {
  color: var(--secondary-color);
  padding-top: 5px;
}

/* sezione created for */
.created-box {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.created p {
  padding-bottom: 30px;
}

/* sezione artisti più popolari */
.popular-box {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.popular p {
  padding-bottom: 30px;
}
.popular img {
  border-radius: 50%;
}
/* icona play al centro delle copertine trasparente di default */
.card i {
  color: var(--primary-color);
  opacity: 0;
  font-size: 8rem;
  position: absolute;
  top: 43%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* effetto hover sulle copertine */
.card:hover i {
  opacity: 1;
}
.card:hover img {
  opacity: 0.5;
}

/***** FOOTER *****/
footer {
  width: 100%;
  height: 80px;
  overflow: hidden;
  background-color: #282828;
  color: var(--secondary-color);
}
/* padding generale del footer */
.footer-container {
  height: 100%;
  padding-left: 10px;
  padding-right: 10px;
}
/* box generale del footer */
.footer-box {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

/* box del solo contenuto a sx del footer */
.footer-sx-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.8rem;
}
.thumb-art {
  width: 40px;
}
.album {
  font-weight: bold;
  color: var(--primary-color);
}
.text {
  flex-grow: 1;
  padding: 0 10px;
}
.song-data {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.icons i {
  margin-left: 5px;
  line-height: 20px;
}

/* effetti hover parte sx del footer */
.song-data a:hover {
  text-decoration: underline;
  color: var(--primary-color);
}
.icons i:hover {
  color: var(--primary-color);
}

/* contenuto al centro del footer */
.footer-centro {
  flex-grow: 1;
}
.footer-mid-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.media-buttons {
  height: 100%;
  display: flex;
  align-items: center;
  color: var(--primary-color);
}
.media-buttons i {
  padding: 0 10px;
}
/* tasto play grande il doppo degli altri comandi */
.media-buttons a:nth-child(3) {
  font-size: 2rem;
}
.media-progress {
  width: 40%;
  min-width: 170px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 5px;
}
/* progress bar della canzone */
.meter {
  height: 5px;
  position: relative;
  background-color: #5a5a5a;
  border-radius: 25px;
  margin: 0 10px;
  width: 100%;
}
.fill-20-percent {
  height: 5px;
  width: 20%;
  border-radius: 25px;
  background-color: #c1c1c1;
  position: absolute;
  left: 0;
  top: 0;
}

/* effetto hover sulla progress bar */
.meter:hover {
  cursor: pointer;
}
.meter:hover .fill-20-percent {
  background-color: var(--accent-color);
}
/* effetto hover sul tasto play */
#play:hover {
  transform: scale(1.2);
}

/* contenuto a destra del footer */
.footer-dx-box {
  width: 100%;
  display: flex;
  align-items: center;
}
.footer-destra i {
  padding: 0 5px;
}
.meter-small {
  width: 60%;
  height: 5px;
  position: relative;
  background-color: #5a5a5a;
  border-radius: 25px;
  margin: 0 10px;
  min-width: 100px;
}
.fill-percent-small {
  height: 5px;
  width: 20%;
  border-radius: 25px;
  background-color: #c1c1c1;
  position: absolute;
  left: 0;
  top: 0;
}

/* effetto hover sulla progress bar a destra del footer*/
.meter-small:hover {
  cursor: pointer;
}
.meter-small:hover .fill-percent-small {
  background-color: var(--accent-color);
}

/********** REGOLE RESPONSIVE **********/

/***** regole MD *****/
@media screen and (max-width: 1100px) {
  .columns {
    width: calc(100% / 4);
  }
}

/***** regole S *****/
@media screen and (max-width: 700px) {
  .columns {
    width: calc(100% / 2);
  }
}

/***** regole XS *****/
@media screen and (max-width: 600px) {
  /*** regole per la sidebar ***/
  .sidebar {
    width: 60px;
  }
  /* nuovo padding ridotto intera sidebar */
  .sidebar-container {
    padding-left: 10px;
    padding-right: 10px;
  }
  /* centratura orizzontale di tutte le icone visibili sidebar */
  .sidebar-flex {
    align-items: center;
  }
  /* logo grande diventa invisibile */
  .logo img:nth-child(1) {
    display: none;
  }
  /* logo piccolo diventa visibile */
  .logo img:nth-child(2) {
    display: inline-block;
  }
  /* scritta home invisibile */
  #home span:nth-child(2) {
    display: none;
  }
  /* scritta cerca invisibile */
  #cerca span:nth-child(2) {
    display: none;
  }
  /* scritta libreria invisibile */
  #libreria span:nth-child(2) {
    display: none;
  }
  /* parte icone navigazione occupa tutto lo spazio verticale disponibile */
  .sidebar-nav-box {
    flex-grow: 1;
  }
  /* parte playlist diventa invisibile */
  .sidebar-playlist-box {
    display: none;
  }
  /* centratura orizontale icona download */
  .dl-app {
    display: flex;
    justify-content: center;
    border: none;
  }
  /* scritta installa app invisibile */
  .dl-app a span:nth-child(2) {
    display: none;
  }
  /* noem utente invisibile */
  .user-data span:nth-child(2) {
    display: none;
  }
  /*** regole per overlay effettua upgrade ***/
  .btn-upgrade {
    width: calc(100% - 60px);
  }
  .main-area {
    width: calc(100% - 60px);
  }
  /*** regole per il footer ***/
  /*   .thumb-art {
    width: 20px;
  } */
  .text {
    padding: 0 5px;
  }
}
