/*** COMMON ***/

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

/* immagini */
img {
  width: 100%;
  display: block;
}

/* colori */
:root {
  --primary-color: white;
  --secondary-color: #a3a3a3;
  --accent-color: #8dcf2c;
}

/**** struttura ****/
.app-wrapper {
  width: 100%;
  height: 100vh;

  /* todo test */
  background-color: lightblue;
}

/***** MAIN *****/
main {
  width: 100%;
  height: calc(100vh - 80px);
  display: flex;

  /* todo test */
  background-color: bisque;
}

/* sidebar */
.sidebar {
  width: 250px;
  color: var(--secondary-color);

  /* todo test */
  background-color: darkturquoise;
}

/* area principale */
.main-area {
  width: calc(100% - 250px);
  color: var(--primary-color);

  /* todo test */
  background-color: lightsalmon;
}

/***** FOOTER *****/
footer {
  width: 100%;
  height: 80px;
  overflow: hidden;

  /* todo test */
  background-color: lightgreen;
}
